*.hi
*.nix
*.o
*.p_hi
*.prof
*.swo
*.tix
/.ghc.environment.*
.hpc/
/dist/
/dist-newstyle/
GNUmakefile
/dist-install
ghc.mk
.stack-work
.cabal-sandbox/
cabal.sandbox.config
cabal.project.local
/result
/TAGS
